[2015-07-02 14:15] brenoc opened #1 "Use classnames"
https://github.com/JedWatson/classnames

[2015-07-02 14:17] brenoc opened #2 "User react-bootstrap"
http://react-bootstrap.github.io/components.html#grids

[2015-08-05 22:30] brenoc opened #3 "Use react-helmet to handle title and meta tags"
https://github.com/nfl/react-helmet

[2015-08-05 22:31] #1 closed

[2015-08-05 22:31] #2 closed

[2015-08-10 12:27] brenoc opened #4 "Use react-resolver to load pages"
Reference:
https://github.com/ericclemmons/react-resolver

[2015-08-10 12:27] brenoc opened #5 "Polyfill es6-promises"
Add polyfill
https://github.com/jakearchibald/es6-promise

[2015-08-10 12:27] brenoc commented on #5
Wrong repo, this should be on storefront-sdk

[2015-08-10 12:27] #5 closed

[2015-08-11 18:35] brenoc opened #6 "Port Header to React"

[2015-08-11 18:35] brenoc opened #7 "Port Banner to React"

[2015-08-11 18:36] brenoc opened #8 "Port Shelf to React"

[2015-08-11 18:36] brenoc opened #9 "Port Policies to React"

[2015-08-11 18:36] brenoc opened #10 "Port Newsletter to React"

[2015-08-11 18:36] brenoc opened #11 "Port Footer to React"

[2015-08-13 08:27] firstdoit commented on #6
tip: "port" is probably better. :)

[2015-08-13 11:57] brenoc commented on #6
@firstdoit thanks

[2015-08-13 19:01] dfosco opened #12 "[storefront-shelf] Show highlight around component when edit mode is on"

[2015-08-13 19:02] dfosco opened #13 "[storefront-shelf] Show placeholder only when shelf component is un-set"

[2015-08-13 19:04] dfosco opened #14 "[storefront-shelf] Improve shelf interaction"
- [x] Disable arrow button when on the edge of the product list
 - [ ] Animate product change

[2015-08-13 19:05] dfosco opened #15 "[storefront-shelf-editor] Connect editor fields to the backend"
- [ ] Collection ID
 - [ ] Shelf name
 - [ ] Number of products

[2015-08-13 19:08] dfosco opened #16 "[storefront-shelf-editor] Product number selector interaction"
- [x] Validate input — positive integers only
 - [x] Validate range — 2 - 6
 - [x] Reflect button click on field value
 - [ ] Disable *-* / *+* buttons when on the edge of the range

[2015-08-13 20:02] #6 closed

[2015-08-13 20:02] #7 closed

[2015-08-13 20:02] #8 closed

[2015-08-13 20:02] #9 closed

[2015-08-13 20:02] #10 closed

[2015-08-13 20:02] #11 closed

[2015-08-13 20:02] #14 closed

[2015-08-13 22:51] dfosco opened #17 "[product-page] Refactor size buttons"

[2015-08-13 22:51] dfosco opened #18 "[product-page] Add color selector"

[2015-08-13 22:59] dfosco opened #19 "[product-page] Checkout button"

[2015-08-13 23:06] dfosco opened #20 "[product-page] Add product image caroussel"

[2015-08-13 23:50] dfosco commented on #18
Closed by 15ff1f08489c6886c13c16aa1c6102b7d78e39db

[2015-08-13 23:50] #18 closed

[2015-08-13 23:50] dfosco commented on #17
Closed by 15ff1f08489c6886c13c16aa1c6102b7d78e39db

[2015-08-13 23:50] #17 closed

[2015-08-14 00:38] dfosco commented on #19
Closed by 658f31052f2458962c7c2357b5332c497c806a4c

[2015-08-14 00:38] #19 closed

[2015-08-14 14:46] #15 closed

[2015-08-14 14:47] brenoc opened #21 "Port Product layout to React components"

[2015-08-14 14:47] brenoc opened #22 "Add sku selection"

[2015-08-14 14:48] brenoc opened #23 "Add variation selection"

[2015-08-14 14:48] brenoc opened #24 "Show product real data"

[2015-08-14 17:17] #24 closed

[2015-08-17 22:48] dfosco commented on #16
`Disable - / + buttons when on the edge of the range` is still open!

[2015-08-17 23:29] brenoc commented on #16
Ops

[2015-08-18 21:16] dfosco commented on #13
This issue is depending on `storefront-editor`'s [#25](https://github.com/vtex-apps/storefront-editor/issues/25)

+ @brenoc @bellacorbo @tamorim

[2015-08-21 18:59] brenoc opened #26 "Fix when components have no settings"

[2015-08-25 13:56] brenoc commented on #3
@tamorim can you work on that?

[2015-08-25 13:56] #21 closed

[2015-08-26 15:57] tamorim commented on #3
For sure!

[2015-08-27 16:28] brenoc opened #28 "Use wallop for sliders"
https://github.com/peduarte/wallop

[2015-08-27 23:12] brenoc opened #29 "Use react-helmet to add a favicon"
http://stackoverflow.com/questions/18301745/how-to-set-up-a-favicon

[2015-09-01 18:39] brenoc opened #30 "Work with one and more variations"

[2015-09-01 18:40] brenoc opened #31 "SKU Selector editor with order"
Enable user to order how variations are displayed

[2015-09-01 18:42] brenoc opened #32 "SKU Selector editor choose layout"
User can select which layout each variation has

[2015-09-01 18:48] brenoc opened #33 "SkuSelector Editor"
This week:
- [x] Structure logic for children components
- [x] Change variation label
- [x] Change button order

Coming weeks:
- [x] Change Sku Selector types:
  - [x] Picker
  - [x] Image

[2015-09-01 19:32] dfosco commented on #16
@brenoc Can we close this one sometime soon? It's small stuff :package:

[2015-09-01 19:34] dfosco opened #34 "[prototype/category-page] Show/Hide interaction in filter list"
@amoreira @brenoc I was planning on showing/hiding the inner list of options with CSS, as seen in the two states below, but considering the list of categories can get _really_ huge, that wouldn't be really performant.

Ideally we would render the inner list only when the user clicks the button to open it — however that stops us from transitioning it using CSS animations. We could try using one of

[2015-09-01 20:30] brenoc commented on #16
sure, @dfosco. There's also an issue that when those buttons are clicked, they act like submitting the form

[2015-09-18 17:34] brenoc commented on #20
Reference: https://github.com/akiran/react-slick
Demo: http://webrafter.com/opensource/react-slick

[2015-09-18 17:35] #26 closed

[2015-09-18 17:37] brenoc opened #35 "Image Upload on BannerEditor"
Use Thumbor for this:
https://github.com/thumbor/thumbor/wiki/How-to-upload-images#upload-an-image-via-the-rest-api

[2015-09-18 17:38] brenoc commented on #35
Sendo feito em: https://github.com/vtex-apps/storefront-theme/tree/feature/imageUpload

[2015-09-24 17:08] brenoc opened #36 "Atualizar para a versão 1.0.0 do React Router"

[2015-09-24 18:53] brenoc opened #38 "Update babelrc"
https://github.com/gaearon/babel-plugin-react-transform/releases/tag/v1.1.0

[2015-09-24 21:19] #36 closed

[2015-09-28 20:56] dfosco commented on #12
@brenoc This wasn't really meant to be here — it's a responsibility for [storefront-editor](https://github.com/vtex-apps/storefront-editor). Closing

[2015-09-28 20:56] #12 closed

[2015-09-28 20:57] dfosco commented on #16
@bellacorbo Bella, can you take a look at this and see if you could fix it? You're working on a similar thing with the SKU Selector.

Let me know if you need me to explain it a little better.

[2015-09-28 21:00] dfosco commented on #13
Closing it and transferring it to Storefront Editor's [#30](https://github.com/vtex-apps/storefront-editor/issues/30)

[2015-09-28 21:00] #13 closed

[2015-09-28 21:01] dfosco commented on #34
Closed by 8c174460802c0a8d9b03c5a7f002cfd20e963b0a

[2015-09-28 21:01] #34 closed

[2015-09-28 21:20] brenoc commented on #34
@dfosco about a long list of categories, you could two things:

1. Give the list a max-height and overflow, so the user can scroll just the sublist
2. You could add a "Show all categories (120)", like OMS does:
![filters](https://cloud.githubusercontent.com/assets/284515/10149049/7f3df94e-660d-11e5-8bff-b18ce61c68ce.png)

[2015-09-28 21:23] dfosco commented on #34
This small link on the bottom to *Show All* is a pretty good idea! We could add this as an optional setting on the editor.

This is the latest iteration for the category selection — showing two category levels. I'll work something close to OMS's for the filters :ok_hand:

<img width="318" alt="screen shot 2015-09-28 at 6 21 59 pm" src="https://cloud.githubusercontent.com/assets/3229933/10149131/f5

[2015-09-30 19:06] #38 closed

[2015-09-30 23:33] dfosco opened #42 "Swap openSidePanel functionality to hamburger menu"

[2015-09-30 23:43] dfosco opened #43 "Ordenation panel"

[2015-09-30 23:43] dfosco opened #44 "Adjust Grid View"

[2015-09-30 23:46] dfosco opened #45 "Prototype for Filter Selection panel"

[2015-09-30 23:46] dfosco opened #46 "Filter selection dropdown"
In the product listing view

[2015-09-30 23:47] dfosco opened #47 "Improved Product Listing View"
Should include a small and relevant category list + some indicator that there are active filters.

[2015-10-01 15:39] dfosco opened #48 "Replace SVGs in the theme with font-awesome"
@brenoc @tamorim @bellacorbo @bernardolemgruber As much as I want to use SVG, IE8 support is still a headache. Since we're already relying on Bootstrap, let's rely on font-awesome as well for our icons.

Any objections?

[2015-10-01 15:41] tamorim commented on #48
The quality of the icons on mobile and, specially, iPhone is just as good or acceptable?

[2015-10-01 15:46] dfosco commented on #48
Yes, it's acceptable.

Honestly, [SVGs are better at everything](https://css-tricks.com/icon-fonts-vs-svg/) and I'd rather use them, but:

 - Font-awesome is delivered via CDN, so there's a performance gain there
 - IE8 doesn't support SVGs :disappointed:

[2015-10-01 16:51] brenoc commented on #48
Our [SVGIcon component](https://github.com/vtex-apps/storefront-theme/blob/master/src/utils/SVGIcon.js) has that in mind.

Ex:

[code]

[2015-10-01 16:54] brenoc commented on #48
If the browser supports SVG, it renders the SVG, if not, it renders an image.

[2015-10-01 16:54] brenoc commented on #48
@dfosco suggested to fallback to a font-awesome icon, that is good alternative too.

[2015-10-01 16:55] brenoc commented on #48
Example:
[code]

[2015-10-01 17:16] dfosco commented on #48
@brenoc @bernardolemgruber Maybe a fallback to font-aweome will be too troublesome, as we'll have to mimic our icons to match theirs.

Seeing that we'll be using our own SVGs (and they'll be probably made in Sketch), exporting them as `.pngs` will be a piece of cake :relieved:

[2015-10-01 17:18] dfosco commented on #48
Given both choices using [SVGIcon component](https://github.com/vtex-apps/storefront-theme/blob/master/src/utils/SVGIcon.js), which one should we take?

 - Fallback `.svg` files with the same icons as `.png` or

 - Fallback `.svg` files with similar icons from *font-awesome* ?

[2015-10-01 17:26] brenoc commented on #48
I think the first option is more flexible

2015-10-01 14:18 GMT-03:00 Daniel Fosco <notifications@github.com>:

--
*Breno Calazans*
Software Engineer
lab.vtex.com
+55 21 987872587

[2015-10-01 17:31] dfosco commented on #48
I like this option better, but don't you think we'll lose some performance going with `.png`? Both because font icons are lighter and because we would be using Bootstrap's CDN.

[2015-10-01 17:33] brenoc commented on #48
People that use older browsers are more patient hehe

2015-10-01 14:31 GMT-03:00 Daniel Fosco <notifications@github.com>:

--
*Breno Calazans*
Software Engineer
lab.vtex.com
+55 21 987872587

[2015-10-01 17:34] dfosco commented on #48
Deal :smiley:

[2015-10-01 17:34] #48 closed

[2015-10-01 18:27] dfosco opened #49 "Set up mobile testing environment"
We need to setup a decent mobile testing environment to make sure we're designing with mobile browsers in mind.

How can we run the cookie on a device? Also, figuring out how to run in on BrowserStack would be good!

+ @bernardolemgruber @brenoc @tamorim @brunoabreu @felipecastrosm @amoreira @rdumont  @bellacorbo

[2015-10-01 18:54] rdumont commented on #49
Over the course of the next month we will simplify the way we deal with apps in development, removing the need of the sandbox cookie. Apps being watched by the toolbelt will be directly related to a special workspace. Therefore, all we're going to need is some UI to easily switch workspaces.

[2015-10-01 19:10] brenoc commented on #49
That's great news @rdumont!

@dfosco testing in BrowserStack is as easy as pie.

[2015-10-01 19:11] dfosco commented on #49
@brenoc Even today, with the sandbox cookie? Can we set that up?

Our subscription is frozen, but if that's the case I'll get it re-activated :grin:

[2015-10-01 19:13] brenoc commented on #49
@dfosco I don't think it's frozen, there are two accounts with very similar emails, maybe you tried the wrong one?

I don't how we can set this up. We have to create a UI to set this cookie.

[2015-10-01 19:13] tamorim commented on #49
@dfosco If you can use the address bar or the console from the browser, it should be no problem setting up a cookie.

[2015-10-01 19:16] brenoc commented on #49
oh yeah @tamorim is right

[2015-10-05 15:11] dfosco commented on #44
Closed by 376945ad9b709676d52f184f9e910bd6847eef12

[2015-10-05 15:11] #44 closed

[2015-10-05 15:29] dfosco commented on #49
@brenoc @tamorim How could I be so dense? Browserstack is basically running an iOS Simulator on a remote OSX machine... just like the one I have here :neutral_face:

Got the storefront-theme running locally on the iOS Simulator with Safari's console working! Still can't run the page properly, but now we can at least investigate why. Let's check later today @tamorim!

[2015-10-05 15:38] dfosco opened #50 "Category sidepanel allows scrolling of component in the background"

[2015-10-06 20:14] dfosco opened #51 "Production-ready Order Panel"
![090cbf32-6c4b-11e5-8324-d21151b197f0](https://cloud.githubusercontent.com/assets/3229933/10321236/ffee3536-6c4d-11e5-8671-2bbb4fec49b7.png)

Prototype for Order Panel is done — in terms of styling and basic interaction. Functionality that still needs to be implemented:

1. `OrderOption` right now are just mocked divs in `OrderList`, but the files for the separated component are in place to do wh

[2015-10-06 20:17] dfosco commented on #51
By the way, this is currently in the branch `prototype/category-page` @ 985470a9687152cedb23818b210c4d1e65b7b6ff

[2015-10-06 20:20] dfosco commented on #51
A small message for my friend @tamorim:

![tumblr_inline_nvm3dnbdvm1t9bsnt_500](https://cloud.githubusercontent.com/assets/3229933/10321348/8f2da164-6c4e-11e5-8dd4-322ee30e0c41.gif)

[2015-10-06 20:30] dfosco commented on #50
@tamorim @brenoc @bellacorbo @amoreira We need to tell `CategoryPage` to change to `overflow:hidden` when any panel is instantiated above it.

It seems to me that every panel should load inside the same `SidePanel` wrapper — seems to be the easiest way to make it happen.

Right now there's a bunch of different `Panels` in the category component (not to mention `EditorPanel` and such), but this beh

[2015-10-06 20:34] dfosco commented on #43
Prototype closed by 985470a9687152cedb23818b210c4d1e65b7b6ff, production-version going on at #51

[2015-10-06 20:34] #43 closed

[2015-10-06 20:37] brenoc commented on #50
@dfosco I dont see a problem with scrolling, really, this won't bother the user.

About the `SidePanel` being the same, I agree it should be the same React component. It should be used like so:

[code]

[2015-10-06 20:39] brenoc commented on #50
Or even:

[code]

[2015-10-06 20:40] tamorim commented on #50
@brenoc I'm not sure about won't bothering the user...
If you're scrolling a long list of products and then use some menu that takes the screen, even partially, is to expected that you won't lose your position.

Using me as example, I get REALLY annoyed when that happens.

[2015-10-06 20:41] tamorim commented on #50
@dfosco I agree with a universal Sidebar component too.

[2015-10-06 20:41] brenoc commented on #51
@dfosco Why not change from "Ordernação" to "Ordernar por"

[2015-10-06 20:41] dfosco commented on #50
@tamorim nailed the example.

and +1 for a universal `Sidebar` component, it will make prototyping MUCH EASIER as well.

[2015-10-06 20:42] brenoc commented on #50
@tamorim really? open http://walmartv5.vtexcommercebeta.com.br/admin/checkout/#/orders?orderBy=creationDate,desc and click on the filter, see if this behaviour really bothers

[2015-10-06 20:45] tamorim commented on #50
@brenoc Yep, it annoys. On Desktop less so, because it's easier to scroll fast,  but on phone it's mind wrecking, specially on long lists.

Besides it isn't a natural behaviour.

[2015-10-06 20:47] tamorim commented on #50
@brenoc OMG, tested on phone now, it's horrible.

[2015-10-06 20:53] dfosco commented on #50
@brenoc Yeah, it's pretty bad — I think there should be no interaction whatsoever with the background when you have a fullscreen panel open, almost as if the component in the background wasn't rendered while the panel is there.

[2015-10-06 21:10] brenoc commented on #50
@dfosco @tamorim okok, I agree with you

[2015-10-07 20:46] bellacorbo commented on #30
Already tested with 1 and 2 variations. Need to create more sku variations to test with, but apparently the logic is sound.

[2015-10-07 20:50] bellacorbo commented on #32
Moved to #33

[2015-10-07 20:50] #32 closed

[2015-10-07 20:52] bellacorbo commented on #31
Moved to #33

[2015-10-07 20:52] #31 closed

[2015-10-08 19:14] dfosco commented on #45
<img width="320" alt="screen shot 2015-10-08 at 3 56 50 pm" src="https://cloud.githubusercontent.com/assets/3229933/10376930/e05e488e-6dd6-11e5-99b4-29e10fc28ada.png">

Layout for filter selection panel is done. Still pending:

 - [ ] Animation for accordion showing/hiding extra results

[2015-10-08 20:02] dfosco commented on #51
@brenoc Good suggestion, it's better to have action-focused copy. Will do the same for the filters.

By the way, this was looking **AWFUL** :scream:. Please give me harsh feedback on the visual side of things when you think necessary. Made it a bit softer overall:

![ordernacao](https://cloud.githubusercontent.com/assets/3229933/10378255/4826d862-6dde-11e5-9fc0-eb5599c3a3be.png)
 softer now:

[2015-10-08 20:11] dfosco commented on #46
I'll close this one — it's just a small part of #47 if you think about it.

[2015-10-08 20:11] #46 closed

[2015-10-08 20:11] brenoc commented on #51
@dfosco could the borders of the list be more thinner?

[2015-10-08 22:14] dfosco commented on #51
@brenoc Still not sure of it — the larger borders help chunking the lists, which is specially important when you have multiples of them.

Regardless, stores will change the styles to fit their needs, but I tend to verge on the side of visual hierarchy, even if it makes things less clean and... _Apple-like_ :iphone: :wink:

[2015-10-08 23:33] dfosco commented on #45
@tamorim Let's further discuss the changes in React's animation tomorrow so we can close this :relieved:

[2015-10-09 14:16] dfosco opened #53 "Reorganize Category folder into discrete components"
<img width="169" alt="screen shot 2015-10-09 at 11 15 38 am" src="https://cloud.githubusercontent.com/assets/3229933/10396135/299300ee-6e77-11e5-840d-53588275bdce.png">

This is waaaaay out of control :grin:

[2015-10-09 15:17] dfosco opened #54 "Components with multiple variants"
Yesterday I added a variation to one of our `PanelNav` component that changes the style applied when a given prop changes:

<img width="322" alt="screen shot 2015-10-08 at 8 37 51 pm" src="https://cloud.githubusercontent.com/assets/3229933/10397777/ccc74cea-6e7f-11e5-8fcd-c1e54905fc7f.png">
<img width="323" alt="screen shot 2015-10-08 at 8 37 42 pm" src="https://cloud.githubusercontent.com/assets/

[2015-10-09 16:37] bellacorbo commented on #54
@dfosco We are yet to implement other styles for the Sku Selector. This is actually our next step: this and managing how these different styles and components will be changed via editor.

[2015-10-09 18:37] dfosco commented on #54
@bellacorbo Cool, let's keep this thread going to discuss the best way to do it!

[2015-10-09 19:59] dfosco opened #55 "Inconsistencies with viewport width when using chrome's mobile simulator"

[2015-10-15 16:08] tamorim opened #57 "Separate CategoryPage and finish the Menu"
Currently the CategoryPage is already in a separate branch, following master and neatly organized (according to CategoryPage's current architecture).

Next steps are to keep refactoring components, making everything work properly and rethink page architecture.

The Menu branch is close to finished (for real!), we just need routing and transition effects.

[2015-10-15 20:05] freador opened #58 "Problema na Documentação"
### 2 - Configurando a sandbox

____ Link não funciona.

Faremos isso definindo um **cookie especial no seu browser**, com o nome `vtex_sandbox` e o valor `vtex/minhasandbox=dreamstore-theme`.

dreamstore na realidade eu acho que é storefront-theme

[2015-10-15 20:10] #58 closed

[2015-10-20 14:55] tamorim opened #59 "Separate panels from buttons"

[2015-10-20 14:56] tamorim opened #60 "Get ordenation to work"

[2015-10-20 14:56] tamorim opened #61 "Mudar Store da categorypage para FacetsStore"

[2015-10-20 14:57] tamorim opened #62 "Pagination? Let's discuss"

[2015-10-20 14:57] tamorim opened #63 "Links working"

[2015-10-21 16:30] tamorim commented on #61
Feito!
vtex-apps/storefront-theme@5e7d9751292fd8de605b6ab6d3ec5161ab84b5cb

[2015-10-21 16:30] #61 closed

[2015-10-22 14:57] #30 closed

[2015-10-22 15:36] bellacorbo opened #64 "SkuSelector minor adjustments"
- [x] Remove SkuSelector from Product page if no variations
- [x] Refine image button display
- [ ] Test Sku with 3 variations (check if no especific code)

[2015-10-23 18:03] bellacorbo opened #68 "AddToCartButton Editor"
Need to adapt editor to button position changes (button is now fixed to page)

[2015-10-23 18:51] bellacorbo opened #69 "Move SkuSelector to its own repo"
In our current project structure, the SkuSelector and its other children components are a part of the Product directory. I think it makes more sense for the SkuSelector to have a directory of its own, and consequently, for the SkuSelectorEditor to be also structured separately (I think it is too big of a component to be defined and structured inside Product). Still, part of the logic and the state

[2015-10-25 20:02] josantana opened #70 "Correção no README"
No tópico **3 - Iniciando o ambiente de desenvolvimento**, o comando citado não provoca o build, o upload dos arquivos, e não mostra a loja em desenvolvimento no lugar da Dreamstore.

Funciona com o comando abaixo:
[code]

[2015-10-26 13:02] dfosco commented on #69
@bellacorbo Conceptually speaking, the `SkuSelector` should have its own structure — not only it's a complex component, it's an optional feature for the product page that not every store will use, so it makes sense to have it separated.

If there are technical limitations that make it hard to separate the component, those should be refactored — ideally, these limitations should not get in the way

[2015-10-26 15:20] tamorim commented on #69
Well, I think that you can abstract what the SkuSelector needs and make the props that it will use as a form of "contract".
Anyone who will use the component should be aware of what it expects in order to work properly.

[2015-10-26 15:36] brenoc commented on #69
I agree with @tamorim. SkuSelector `props` it's its API. Make this API slim and easy to use and you're good to go (to move it away from the Product directory).

[2015-10-26 17:02] bellacorbo commented on #69
Ok, guys. Thanks for your help!

[2015-10-26 18:32] dfosco opened #71 "Finalize Search with suggestion"
Layout is already done, but there's a bug on the request that's stopping the suggestions from being shown — and, to be frank, the whole component could see some refactoring, seeing that it wasn't done by our team (with current practices).

ALAS, that will have to come later — with the bug fixed, it'll be working pretty well.

---

Currently on github.com/alejandro-osorio/search-bar, at `master`. I

[2015-10-29 00:53] dfosco commented on #3
@tamorim @brenoc What's the status here? I'm almost sure this one has been done already.

[2015-10-29 00:55] tamorim commented on #3
I think that the branch was merged, but it's not in use yet.
I remember that it lacks some sort adaptation for all the meta tags, right @brenoc ?

[2015-10-29 00:56] dfosco commented on #20
@brenoc This is being done in one of the branches from the hackathon — maybe @leandrooriente and @gugiserman could start working on this one next Friday?

[2015-10-29 00:57] dfosco commented on #16
@bellacorbo​oooooooo :sob:

[2015-10-29 00:59] dfosco commented on #4
How are we going with this, @brenoc?

[2015-10-29 01:00] dfosco commented on #55
@tamorim killed this one a while back :sunglasses:

[2015-10-29 01:00] #55 closed

[2015-10-29 01:01] dfosco commented on #53
The bulk of the work here has been done — whatever improvements necessary should have their own specific issues.

[2015-10-29 01:01] #53 closed

[2015-10-29 01:02] dfosco commented on #22
This has been done by @bellacorbo and final adjustments are being resolved here https://github.com/vtex-apps/storefront-theme/issues/64

[2015-10-29 01:02] #22 closed

[2015-10-29 01:02] dfosco commented on #23
This has been done by @bellacorbo and final adjustments are being resolved on https://github.com/vtex-apps/storefront-theme/issues/64

[2015-10-29 01:02] #23 closed

[2015-10-29 01:04] dfosco commented on #28
Relevant for https://github.com/vtex-apps/storefront-theme/tree/feature/product-image

[2015-10-29 01:06] dfosco commented on #35
How's progress on this feature, @brenoc?

[2015-10-29 01:07] dfosco commented on #49
@tamorim What else do we need to have `bifrost.local:3000` working again?

I WANNA CLOSE THIS ISSUE SO BAD :sparkles: :sparkles: :sparkles:

[2015-10-29 01:08] tamorim commented on #49
Works like before, the issue was on the websockets.
We changed too fast, and that's why didn't work out :)

[2015-10-29 01:12] dfosco commented on #49
All right, things don't work right now, but let's test this and see if we can make it work tomorrow.

I won't close the issue right now because I've been hurt before :broken_heart:

[2015-10-29 02:00] tamorim commented on #51
I think this one is deprecated, we don't have a OrderPanel anymore.
This is done on FilterPanel, and it's working (needs change, but not on panel itself).

[2015-10-29 02:00] #51 closed

[2015-10-29 02:02] tamorim commented on #42
I'm a little lost here...

[2015-10-29 02:02] tamorim commented on #63
Done!

[2015-10-29 02:03] tamorim commented on #60
It's working, but not the way it should.

[2015-10-29 02:03] #63 closed

[2015-10-29 02:04] tamorim commented on #62
@dfosco

[2015-10-29 03:18] dfosco commented on #42
@tamorim :hamburger: menu should open SidePanel with category list, that's all!

[2015-10-29 03:22] dfosco commented on #62
@tamorim

[2015-10-29 03:22] dfosco commented on #62
:page_facing_up:

[2015-10-29 03:23] dfosco commented on #62
All right, just kidding. I probably won't be able to tackle it this week (maaaaaybe Friday night?)

Please remember to bug me next week if you don't have a prototype by then :smile:

[2015-10-29 15:51] dfosco opened #74 "Cleanup old branches"
@brenoc Could you do this spring cleaning? You're the most knowledgeable about most branches, but let us know if there's anything you're unsure about.

I'm not even sure we should do this right now because of the hackathon branches — are we going to spin them off into their own repositories?

[2015-10-29 15:55] brenoc commented on #74
@dfosco propably yes

I'll just delete the stale branches

[2015-10-29 16:04] dfosco commented on #74
:ok_hand:

[2015-10-29 17:44] brenoc commented on #3
It's partially done here: https://github.com/vtex-apps/storefront-theme/tree/feature/ProductPage

[2015-10-29 17:46] brenoc commented on #4
We don't need this, Storefront already give us a single endpoint that loads all the data needed for a page.

[2015-10-29 17:46] #4 closed

[2015-10-29 17:47] brenoc commented on #16
Moved to https://github.com/vtex-apps/storefront-shelf/issues/1

[2015-10-29 17:47] #16 closed

[2015-10-29 17:49] brenoc commented on #28
Another solution was used.

[2015-10-29 17:49] #28 closed

[2015-10-29 17:51] brenoc commented on #35
I think it's best for us to wait the implementation of the Storefront proxy.

cc @amoreira @felipecastrosm

[2015-10-29 18:46] brenoc commented on #54
@dfosco You may use React in our favor, like this:

Default panel header:
[code]

Custom panel header:
[code]

[2015-10-29 18:49] brenoc commented on #69
@bellacorbo now you're supposed to move SkuSelector to a separate app and repo, just like [Banner](/vtex-apps/storefront-banner) and [Shelf](/vtex-apps/storefront-shelf).

[2015-11-05 00:41] dfosco commented on #70
@tamorim Is this closed already or do you still have to merge it into `master`?

PS: @josantana we're trying to keep the issues as international as possible, that's why we're using english here :smile:

[2015-11-05 00:55] dfosco opened #77 "Finish interactions for advanced category navigation"
Finished the `<ExplorerPanel/>` component that brings up the advanced category navigation. Visually speaking it could see some improvements, but I consider this iteration's prototype as done.

Missing for production-ready status:

 - [x] HandleClick on bottom area to close the panel
 - [x] HandleClick on bottom button to close the panel
 - [x] Real data for category name
 - [x] Real data for subca

[2015-11-05 01:19] tamorim commented on #70
Still have to merge it, waiting for someone to approve.

[2015-11-05 05:22] dfosco commented on #71
I'll assign it to @tamorim, but either @brenoc or @bellacorbo could take a look at this, it's not a challenging bug, seeing that it was working before

[2015-11-05 05:25] dfosco opened #78 "Search Page prototype"
Started work on branch `prototype/search-page`

[2015-11-06 18:24] #70 closed

[2015-11-09 16:15] dfosco commented on #47
Running on [#77](https://github.com/vtex-apps/storefront-theme/issues/77)

[2015-11-09 16:15] #47 closed

[2015-11-09 16:16] dfosco commented on #77
Done by @tamorim

[2015-11-09 16:16] #77 closed

[2015-11-09 16:17] dfosco commented on #71
Already fixed by @brenoc, but missing integration into `storefront-theme`

[2015-11-09 21:03] dfosco opened #79 "Unavailable SKU variations are selectable"
Even though we lock the button selection through CSS, we are using a custom event listener (`onTouchTap`) to record the tap, so it still makes it selectable.

[2015-11-09 21:06] dfosco commented on #79
@bellacorbo Strangely enough, this only happens when changing the data attribute `data-is-available` through the inspector — when you have one option selected it will make the other unavailable and unselectable.

I'm not sure it will work properly when the catalog says the variation is unavailable though, so we should at least test it.

[2015-11-10 00:03] dfosco opened #80 "SKU Editor should keep selector type on settings to have selected option when reopened"

[2015-11-12 22:02] dfosco opened #87 "Install autoprefixer"
Editor is currently broken on Safari due to lack of browser prefixes, so we might as well install it here as well.

In fact, I think it should be added for all of our standard apps.

[2015-11-13 18:39] brenoc opened #88 "Use <picture> with picturefill"
Website: http://scottjehl.github.io/picturefill/
Repo: https://github.com/scottjehl/picturefill

Motivation: https://twitter.com/okor/status/664901771811274753

[2015-11-13 18:39] brenoc commented on #87
vtex/storefront-webpack-config

[2015-11-13 18:42] dfosco commented on #88
Tweet-oriented development :baby_chick:

[2015-11-17 16:25] bellacorbo commented on #80
I noticed that sometimes it works perfectly for the first variation, but not for the second. I'll take a look at this later today.

[2015-11-17 21:04] bellacorbo commented on #80
Solved in 089caecde074e34a430e4b191a0b627b2922a445

[2015-11-17 21:04] #80 closed

[2015-11-17 21:04] #33 closed

[2015-11-18 01:54] tamorim commented on #50
Fixed.

[2015-11-18 01:54] #50 closed

[2015-11-18 01:55] tamorim commented on #42
I believe that is done too.

[2015-11-18 01:55] #42 closed

[2015-11-18 01:56] tamorim commented on #59
Done!

[2015-11-18 01:56] #59 closed

[2015-11-18 01:57] tamorim commented on #60
Now working ok! Thanks @amoreira ;)

[2015-11-18 01:57] #60 closed

[2015-11-18 01:58] tamorim commented on #62
I'll mark this as done, since I've made the `LoadMore` style.
Other navigations can be done on other iterations!

[2015-11-18 01:58] #62 closed

[2015-11-18 13:54] brenoc opened #91 "Add web app manifest"
Check: https://developers.google.com/web/updates/2014/11/Support-for-installable-web-apps-with-webapp-manifest-in-chrome-38-for-Android

Example: https://github.com/GoogleChrome/application-shell/blob/master/src/manifest.json
MDN reference: https://developer.mozilla.org/en-US/docs/Web/Manifest

[2015-11-18 13:57] brenoc commented on #50
@tamorim can you mention the commit?

[2015-11-18 15:31] tamorim commented on #50
Here: vtex-apps/theme@71ff9b5825b875d4bf1492409cd0e66d84c1e2a2

[2015-11-18 16:58] brenoc commented on #33
@bellacorbo please reference the commit that fixed those things on the pull request related to it.

[2015-11-23 15:51] brenoc opened #96 "Remove static properties for IE8 compatibility"
See https://github.com/rackt/react-router/pull/2540

[2015-11-23 19:21] dfosco commented on #49
@tamorim To close this issue we just need to have Toolbelt's QR code in production. Are you doing this anytime soon?

[2015-11-23 19:33] tamorim commented on #49
@dfosco I think it's not a high priority, so maybe next week or so

[2015-11-23 19:36] dfosco commented on #49
@tamorim Definitely not a priority, though a quick kill. No worries :smile:

[2015-11-26 17:44] bellacorbo opened #100 "Adapt to Editor separation from SDK"
Pull request submitted.

[2015-11-26 17:57] bellacorbo commented on #100
Fixed in #99.

[2015-11-26 17:57] #100 closed

[2015-11-26 20:08] bellacorbo commented on #79
@dfosco When I first implemented the sku selector, I made sure it would work by getting the catalog's availabilities for each variation and resolving the interaction between selected and unselected variations.

That is why the variation's availability (depending to the context in which the is in: whether he has already selected a variation or not) is what sets the buttons to selectable or not. The

[2015-11-26 20:13] #79 closed

[2015-11-27 00:29] tamorim commented on #57
All separated and PRs done!

[2015-11-27 00:29] #57 closed

[2015-11-27 20:01] bellacorbo commented on #69
Will wait for #103 to be merged.

[2015-11-30 21:02] tamorim opened #104 "Refactor CSS"
@dfosco See how it conflicts! (the styles applied should be of FilterButton)

![image](https://cloud.githubusercontent.com/assets/5040487/11484351/bd3628bc-9794-11e5-9393-63deb5bf74f4.png)

![image](https://cloud.githubusercontent.com/assets/5040487/11484419/0b6c80b2-9795-11e5-99da-f9253a80a939.png)

[2015-12-01 19:45] dfosco commented on #104
@tamorim Ok, time to face this monster... I'm re-adopting BEM across **all apps**. Get ready for `feature/css-refactor` branches everywhere!

[2015-12-01 22:20] dfosco opened #105 "Remove unnecessary classes once FilterPanel CSS refactor merges with master"
These classes on `CategoryHeader.less` need to be changed/removed, but currently break the layout because upstream changes on `FilterPanel` haven't been merged yet.

![image](https://cloud.githubusercontent.com/assets/3229933/11516163/de587dcc-9868-11e5-9026-5767f151591d.png)

[2015-12-02 16:36] tamorim commented on #74
Done!

[2015-12-02 16:36] #74 closed

[2015-12-02 16:38] tamorim commented on #45
@dfosco I don't think that the accordion is necessary, but I still have to make the `See all brands` >:

[2015-12-02 16:55] dfosco commented on #45
@tamorim Can't you pull them from the facets and do a simple show/hide? I'll implement a better interaction later.

[2015-12-02 17:06] tamorim commented on #45
@dfosco Don't understand if you're referring to the accordion or the link

[2015-12-02 17:24] dfosco commented on #45
@tamorim The link! Just show the data and I'll improve the interaction next week :)

[2015-12-02 17:26] tamorim commented on #45
@dfosco Okidoki

[2015-12-02 18:23] dfosco commented on #104
@tamorim Done! Changes listed under [#108](https://github.com/vtex-apps/theme/pull/108).

pls review, migo :relieved:

[2015-12-03 22:57] brenoc opened #109 "Add React tests"
Maybe use reagent?
https://github.com/airbnb/reagent

[2015-12-07 18:28] dfosco opened #110 "ExplorerPanel won't close when clicking on external area"
Down below :arrow_down:

![image](https://cloud.githubusercontent.com/assets/3229933/11635717/96610598-9cff-11e5-9876-54eddf36c90c.png)

[2015-12-09 20:10] #104 closed

[2015-12-14 13:15] dfosco commented on #71
Deprecated

[2015-12-14 13:15] #71 closed

[2015-12-16 12:04] dfosco opened #115 "Can't add alt-text on SVGIcon"
Hey people,

I tried adding alt-text to SVGIcon on the store logo (on the header) but it didn't work out... I think SVGIcon doesn't have an `alt` prop. The weird thing is, `title` works perfectly.

Any ideas on how we can add it? It's crazy, but several of our stores don't have a proper alt text on their logos — it says "logo" or "alt" or nothing at all :flushed:

[2015-12-16 13:01] brenoc commented on #115
@dfosco I can check that with you later today :)

[2015-12-16 20:57] dfosco opened #116 "Menu Panel won"

[2015-12-16 20:57] #116 closed

[2015-12-16 21:02] dfosco opened #117 "Menu Panel won't open on Safari"
Menu Panel (on mobile viewport) won't open on Safari for iOS and OSX. You can see from the gif below it's not a layout problem — the button itself is clickable, but it won't fire the event.

It's specially weird because the `Header.js` component has two similar events, one for opening the search bar and another for the menu panel. The search bar works, but the panel doesn't.

Pls send help. @tamor

[2015-12-16 22:05] dfosco commented on #117
Issue transfered to `navigation-menu` repo

[2015-12-16 22:05] #117 closed

[2015-12-17 12:11] dfosco opened #118 "Improved Price Display Options"
- [ ] Show “de / por”
 - [ ] Show prices in installments

[2015-12-17 13:05] brenoc opened #119 "Implement touch-action"
This enables us to remove touch tap polyfill

Reference: https://webkit.org/blog/5610/more-responsive-tapping-on-ios/

[2015-12-23 12:40] brenoc commented on #35
Moved to https://github.com/vtex-apps/banner/issues/10

[2015-12-23 12:40] #35 closed

[2015-12-23 12:41] brenoc commented on #45
Done here https://github.com/vtex-apps/filter-panel

[2015-12-23 12:41] #45 closed

[2015-12-23 12:41] brenoc commented on #49
@tamorim Is Toolbelt already providing this functionality?

[2015-12-23 12:42] brenoc commented on #54
Closing this issue. You may move it to https://github.com/vtex-apps/filter-panel

[2015-12-23 12:42] #54 closed

[2015-12-23 12:42] brenoc commented on #69
Done https://github.com/vtex-apps/sku-selector

[2015-12-23 12:42] #69 closed

[2015-12-23 12:43] brenoc commented on #64
Deprecated

[2015-12-23 12:43] #64 closed

[2015-12-23 12:43] brenoc commented on #87
Done https://github.com/vtex-apps/theme/blob/master/webpack.config.js#L38

[2015-12-23 12:43] #87 closed

[2015-12-23 12:44] brenoc commented on #105
@dfosco What's the status here?

[2015-12-23 12:45] brenoc commented on #110
Moved to https://github.com/vtex-apps/filter-panel/issues/8

[2015-12-23 13:10] dfosco commented on #49
@brenoc As far as I know, it's been on a branch ever since October, but @tamorim never had the time to merge it into master.

[2015-12-23 13:11] dfosco commented on #54
@brenoc Fine by me, this should become a feature in the editor for this component, not an issue in itself.

[2015-12-23 13:40] tamorim commented on #49
@brenoc @dfosco There are several things that needs to be resolved in order to do that. Since our priority is on the theme anda the components, I've left aside for now.

[2015-12-23 13:43] dfosco commented on #105
@brenoc Done, will be closed when #124 is merged

[2015-12-23 13:43] dfosco commented on #105
@brenoc @tamorim Please review :)

[2015-12-23 13:44] tamorim commented on #110
Reopened here!

[2015-12-23 13:44] dfosco commented on #49
Yes!

[2015-12-23 16:29] #105 closed

[2016-01-23 00:42] tamorim commented on #78
@dfosco Already done! Now we a need a responsive one hehe

[2016-01-23 00:42] #78 closed

[2016-04-14 17:06] ellensilva opened #137 "Tema Default - Homologação"
Infra utilizada:
Dispositivo: Tablet Xoom
Browser: Chrome

- [ ] Não está mostranso tela de login ao clicar nos links Minha Conta, Login
- [ ] A formatação da casa decimal está diferente da mostrada no Desktop quando o valor termina com 0, por exemplo: 3,90 está mostrando 3,9
- [ ] Não está mostrando o seletor de sku: https://pilateslovers.beta.myvtex.com/camiseta-i-believe-in-mermaids/p, impedind

[2016-04-14 17:21] dfosco commented on #137
Obrigado @ellensilva! Qual a versão do Chrome e Android utilizados no teste?

[2016-04-14 18:46] ellensilva commented on #137
Oi dfosco, Android é 4.0.4; MZ604 Build/I.7.1-39 versão do Chrome 42.0.2311.111

[2016-04-15 12:51] dfosco commented on #137
Valeu! :)

[2016-04-25 14:19] tamorim commented on #96
@brenoc Although still a good idea, we don't support IE8 anymore.

[2016-04-25 14:19] #96 closed

[2016-04-25 14:20] tamorim commented on #20
Done one `product-image` component.

[2016-04-25 14:20] #20 closed

[2016-05-03 18:58] dfosco opened #150 "Treat spaces on search result displays"
![image](https://cloud.githubusercontent.com/assets/3229933/14994724/d4dd9068-1147-11e6-98c2-f1ba5c2cb157.png)

[2016-05-07 22:24] gkozlowaski opened #151 "Implement addedLabel setting to AddToCartButton and his editor"
Right now AddToCartButton only has `label` as a setting, and so this can be changed inside his editor. But the button has a `addedLabel` that needs to be a setting, and be editable.

[2016-05-31 17:45] gkozlowaski opened #152 "AddToCartButton should redirect do checkout"
The AddToCartButton should be redirecting to checkout instead of just adding a product to minicart and changing the message.